* {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
}

#equal {
  margin: 10px;
  padding-bottom: 32px;
}

body {
  height: 400px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#convertsection {
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 60%;
  height: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 180%;
  height: 40px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
}

.namecon {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 128%;
  height: 27px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
}

/* RESONSIV */

@media only screen and (max-width: 500px) {
  body {
    height: 100%;
  }
  #convertsection {
    width: 80%;
    height: 100%;
    margin-top: 60px;
  }
  .container {
    flex-direction: column;
    margin: 40px;
  }
  #equal {
    margin: 0px;
    padding-bottom: 0px;
  }
}