* {
  font-family: "Times New Roman", Times, serif;
}
h1 {
  text-align: center;
}

#equal {
  margin: 10px;
  padding-bottom: 32px;
}

body {
  height: 607px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed , #f64f59);
  background-repeat: no-repeat;
}

#convertsection {
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 60%;
  height: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

input {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 180%;
  height: 40px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
}

.btnn {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 128%;
  height: 27px;
  padding: 1px 6px;
  text-align: center;
  width: 211px;
}

.btnn:hover {
  background-color: #e4e4e4;
}

.slidesec {
  background-color: #f8f9fa;
  border: 1px solid #bfc0c2;
  border-radius: 2px 2px 0 0;
  color: #000;
  text-align: center;
  width: 209px;
  position: absolute;
}

.slideunit1 {
  color: #000;
  height: 17px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
}
.slideunit1:hover {
  background-color: #669df7;
  color: white;
}

#slidedropef{
  display: none;
  position: absolute;
  z-index: 1;
}
#slidedropeff{
  display: none;
  position: absolute;
  z-index: 1;
}

ul {
  padding: 0px;
  margin: 0;
}

ul a {
  text-decoration: none;
  display: block;
  width: 100%;
}

/* RESONSIV */

@media only screen and (max-width: 500px) {
  body {
    height: 100%;
  }
  #convertsection {
    width: 80%;
    height: 100%;
    margin: 120px;
  }
  .container {
    flex-direction: column;
    margin: 40px;
  }
  #equal {
    margin: 0px;
    padding-bottom: 0px;
  }
}
