* {
  font-family: "Times New Roman", Times, serif;
}
html {
  height: 100%;
}
body {
  height: 97%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: linear-gradient(45deg, #12c2e9, #c471ed, #f64f59);
  background-repeat: no-repeat;
}
/* ?equal sign START */
h1 {
  text-align: center;
}
#equal {
  margin: 10px;
  padding-bottom: 32px;
}
/* ?equal sign END */
/* ! SECTION START */
#convertsection {
  border: 1px solid #dadce0;
  border-radius: 8px;
  width: 60%;
  height: 290px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
  margin: 10px;
}
.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* ! SECTION END*/
/* ?input type number START */
input {
  background-color: #fff;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 180%;
  height: 40px;
  padding: 1px 6px;
  text-align: center;
  width: 197px;
}
/* ?input section START  */
.btnn {
  background-color: #f8f9fa;
  border: 1px solid #dadce0;
  border-radius: 2px 2px 0 0;
  color: #000;
  font-size: 128%;
  height: 27px;
  padding: 1px 6px;
  text-align: center;
  width: 211px;
}
.btnn:hover {
  background-color: #e4e4e4;
  box-shadow: 0px 3px 3px 0px grey;
}
/* ?input section END  */

/* RESONSIV */

@media only screen and (max-width: 500px) {
  /* !section start*/
  #convertsection {
    width: 80%;
    height: 100%;
    margin: 120px;
  }
  .container {
    flex-direction: column;
    margin: 40px;
  }
  /* !section end */
  /* ? === start */
  #equal {
    margin: 0px;
    padding-bottom: 0px;
  }
  /* ? === end */
}
